@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IransnasMedium;
  src: url(../fonts/IRANSansWeb-Medium.ttf);
}

@font-face {
  font-family: IransnasBold;
  src: url(../fonts/IRANSansWeb\ Bold.ttf);
}

@font-face {
  font-family: IransnasLight;
  src: url(../fonts/IRANSansWeb\ Light.ttf);
}

.fontIransnasLight{
  font-family: IransnasLight;
}

body {
  font-family: IransnasMedium;
}
